/* The snackbar - position it at the bottom and in the middle of the screen */

.snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;  
  color: #fff;
  
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 70%;
  font-size: 17px;
}

.sucesso {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  background-color: #40BF38;
  /*opacity: 7%;*/
}

.falha {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  background-color: #BF3838;
  /*opacity: 7%;*/
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}